#Command: /show system information
#SNMP Oper State, SNMP Index Boot Status, SNMP Sync State
Value NAME (\S+)
Value SNMP_Oper_State (\S+)
Value SNMP_Index_Boot_Status (\S+)
Value SNMP_Sync_State (\S+)

Start
  ^\w:${NAME}(#|>) /show system information
  ^.?\w:${NAME}(#|>) /?show system information
  ^SNMP Oper State\s+.\s+${SNMP_Oper_State}
  ^SNMP Index Boot Status\s+.\s+${SNMP_Index_Boot_Status}
  ^SNMP Sync State\s+.\s+${SNMP_Sync_State}