#Command: /show chassis
#Timos: 6
#Version: 1.0.0
Value NAME (\S+)
Value Type (.+)
Value MAC (\S+)

Start
  ^.?\w:${NAME}(#|>) /show chassis
  ^\s+Name\s+:\s+${NAME}
  ^\s{2,4}Type\s+:\s+${Type}
  ^\s+Base MAC address\s+:\s+${MAC}
