#Command: /show system information
#Timos: 6
#Version: 1.0.0
Value SNMP_Oper_State (\S+)
Value SNMP_Index_Boot_Status (\S+(\s\S+)?)
Value SNMP_Sync_State (\S+)

Start
  ^\w:\S+(#|>) /show system information
  ^.?\w:\S+(#|>) /?show system information
  ^SNMP Oper State\s+.\s+${SNMP_Oper_State}
  ^SNMP Index Boot Status\s+.\s+${SNMP_Index_Boot_Status}
  ^SNMP Sync State\s+.\s+${SNMP_Sync_State}