#Command: /show lag
#Timos: 21
#Version: 1.0.0
Value Required Lag_ID (\S+)
Value Adm ([uU][pP]|[Dd][oO]?[wW][nN])
Value Opr ([uU][pP]|[Dd][oO]?[wW][nN])
Value Threshold (\d+)
Value UpCount (\d+)
Value MC_ActStdby (\S+)

Start
  ^\w:\S+(#|>) /show lag
  ^.?\w:\S+(#|>) /?show lag
  ^${Lag_ID}\s+${Adm}\s+${Opr}(\s+\S+)?\s+${Threshold}\s+${UpCount}\s+${MC_ActStdby} -> Record