#Command: /show router isis adjacency
#Timos: 19
#Version: 1.0.0
Value NAME (\S+)
Value Required System_ID (\S+)
Value Usage (\S+)
Value State ([uU][pP]|[Dd][oO]?[wW][nN])
Value Hold (\S+)
Value Interface (\S+)

Start
  ^\w:${NAME}(#|>) /show router isis adjacency
  ^.?\w:${NAME}(#|>) /?show router isis adjacency
  ^${System_ID}\s+${Usage}\s+${State}\s+${Hold}\s+${Interface}(\s+\S+)? -> Continue.Record