#Command: /show router \S+ arp
#Timos: 8
#Version: 1.0.0
Value Filldown,Required Service (\S+)
Value Required IP_Addr (\d+\.\d+\.\d+\.\d+)
Value MAC_Addr (\S{2}:\S{2}:\S{2}:\S{2}:\S{2}:\S{2})
Value Type (\S+)
Value Interface (.+)

Start
  ^\w:\S+(#|>) /show router \S+ arp
  ^.?\w:\S+(#|>) /?show router \S+ arp
  ^ARP Table .Service. ${Service}.
  ^${IP_Addr}\s+(${MAC_Addr}\s+)?\S+\s+${Type}\s+${Interface} -> Continue.Record