#Command: /show router rsvp interface
#Timos: 8
#Version: 1.0.0
Value Required Interface (.+?)
Value Adm ([uU][pP]|[Dd][oO]?[wW][nN])
Value Opr ([uU][pP]|[Dd][oO]?[wW][nN])
Value Total (\d+|\-)
Value Active (\d+|\-)
Value Total_BW (\d+|\-)
Value Resv_BW (\d+|\-)

Start
  ^.?\w:\S+(#|>) /?show router rsvp interface
  ^${Interface}\s+?${Total}\s+${Active}\s+${Total_BW}\s+${Resv_BW}\s+${Adm}\s+${Opr} -> Continue.Record