#Command: /show service service-using
#Timos: 8
#Version: 1.0.0
#Description: This template is used to see service-using
Value Required ServiceId ([0-9]{1,15})
Value Type (\S+)
Value Adm ([uU][pP]|[Dd][oO][wW][nN])
Value Opr ([uU][pP]|[Dd][oO][wW][nN])
Value CustomerId ([0-9]{1,15})

Start
  ^\w:\S+(#|>) /show service service-using 
  ^.\w:\S+(#|>) /show service service-using 
  ^${ServiceId}\s+${Type}\s+${Adm}\s+${Opr}\s+${CustomerId} -> Record
