Value Filldown NAME (\S+)
Value Required Service ([0-9]{1,12}|Base)
Value Required NO_OF_ROUTES ([0-9]{0,10})

Start
  ^\w:${NAME}(#|>) /show\srouter\s\S+\sroute-table -> Continue.Record
  ^.\w:${NAME}(#|>) /show\srouter\s\S+\sroute-table -> Continue.Record
  ^Route\sTable\s.(Service:|Router:)\s${Service}.
  ^No.\sof\sRoutes:\s${NO_OF_ROUTES} -> Record

