Value Filldown NAME (\w+_\w{4,12}_(\w){3,6}|\w{5,8}_\w{4,12}_(\w){3,6}.\S+)
Value Required Command (\srouter\sroute-table)
Value Required NO_OF_ROUTES ([0-9]{0,10})

Start
  ^\w:${NAME}# /show${Command}\s.\smatch\sNo
  ^.\w:${NAME}# /show${Command}\s.\smatch\sNo
  ^No.\sof\sRoutes:\s${NO_OF_ROUTES} -> Record

