#Command: /show system information
#Description: This template is used to see system location
#Variables: Router_Name Location
#Autor: Manuel Saldivar manuelsaldivar@outlook.com.ar
Value Required Location (\S+|\S+\s\S+|\S+\s\S+\s\S+|\S+\s\S+\s\S+\s\S+|\S+\s\S+\s\S+\s\S+\s\S+)

Start
  ^\w:\S+(#|>) /show system information
  ^.\w:\S+(#|>) /show system information
  ^System Location\s+:\s+${Location}
