#Command: /admin display config | match telnet-server
#Description: This template is used to find out the telnet option on router's configuration
#Variables: Router_Name Telnet-Server
#Autor: Manuel Saldivar manuelsaldivar@outlook.com.ar
Value telnet_activo (telnet-server)

Start
  ^\w:\S+(#|>) /admin display config
  ^.\w:\S+(#|>) /admin display config
  ^\s+${telnet_activo}
