Value Filldown NAME (\w+_\w{4,12}_(\w){3,6}|\w{5,8}_\w{4,12}_(\w){3,6}.\S+)
Value telnet_activo (telnet-server)

Start
  ^\w:${NAME}# echo SCRIPT_NONO_START
  ^.\w:${NAME}# echo SCRIPT_NONO_START
  ^\s+${telnet_activo}
