Value Filldown NAME (\w+_\w{4,12}_(\w){3,6}|\w{5,8}_\w{4,12}_(\w){3,6}.\S+)
Value Required Service ([0-9]{1,12}|Base)
Value Required NO_OF_ROUTES ([0-9]{0,10})

Start
  ^\w:${NAME}# /show\srouter\s\S+\sroute-table -> Continue.Record
  ^.\w:${NAME}# /show\srouter\s\S+\sroute-table -> Continue.Record
  ^Route\sTable\s.(Service:|Router:)\s${Service}.
  ^No.\sof\sRoutes:\s${NO_OF_ROUTES} -> Record

