Value Filldown NAME (\S+)
Value Required policy (seamless.+|redistribute.loopback0|export_to_BGP_area.+|aigpImportToBGP.+|export.to.BGP.LU|export.loopback0)

Start
  ^\w:${NAME}(#|>) /show router policy community
  ^.\w:${NAME}(#|>) /show router policy community
  ^${policy} -> Record
