#Command: /show router ldp status
#Description: This template is used to see the redistribute and export policies in ldp lsr
#Variables: Router_Name Export_Policies
#Autor: Manuel Saldivar manuelsaldivar@outlook.com.ar
Value Required Export_Policies (redistribute-loopback0|export-loopback0)

Start
  ^\w:\S+(#|>) /show router ldp status
  ^.\w:\S+(#|>) /show router ldp status
  ^\s+\S+\s+${Export_Policies}
